# Atlantis Configuration Environment Variables
ATLANTIS_URL=http://<YOUR_SERVER_IP_OR_DOMAIN>:4141
ATLANTIS_GH_USER=<YOUR_GITHUB_USERNAME>
ATLANTIS_GH_TOKEN=<YOUR_GITHUB_PERSONAL_ACCESS_TOKEN>
ATLANTIS_GH_WEBHOOK_SECRET=<YOUR_WEBHOOK_SECRET_KEY>
ATLANTIS_REPO_ALLOWLIST=github.com/<YOUR_ORG_OR_USERNAME>/*
